[submodule "Lulu/Third-party/spdlog"]
	path = Lulu/Third-party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lulu/Third-party/GLFW"]
	path = Lulu/Third-party/GLFW
	url = https://github.com/QianyueW/glfw
